*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-dark: #3d3d3d;
  --clr-light: #fff;
  --clr-main: red;

  --clr-footer: #412727;
}

html {
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  text-align: center;
  color: var(--clr-dark);
  font-size: 1.6rem;
  line-height: 1.7;
}

section {
  padding: 10.8rem 0;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* nav */
.navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: rgb(8, 69, 89);
  z-index: 1;
}

.navigation__title {
  color: white;
  font-size: 30px;
  padding-left: 10px;
}

.navigation ul {
  display: flex;
  justify-content: flex-end;

  & li {
    padding-right: 20px;
    font-size: 30px;
    list-style-type: none;

    & a {
      color: white;
      text-decoration: none;
    }

    & a:active {
      color: red;
    }
  }
}

.icon {
  display: none;
}

.splash {
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/background.webp");
  background-size: cover;
  background-position: centercenter;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash i {
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  background: var(--clr-main);
  border-radius: 50%;
}

.page-title {
  font-size: 6rem;
  color: var(--clr-light);
  margin: 4.8rem 0 0 0;
  position: relative;
}

.page-subtitle {
  font-size: 1.8rem;
  color: var(--clr-light);
  margin: 4.8rem 0 0 0;
  font-weight: 400;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: -2.4rem;
  left: 50%;
  width: 10rem;
  height: 1rem;
  transform: translateX(-50%);
  background: var(--clr-main);
}

/* Intro */
.intro p {
  width: 70%;
  color: var(--clr-dark);
  margin: 0 auto;
  font-size: 2.4rem;
  padding: 48px 0;
  border-top: 0.1rem solid var(--clr-dark);
  border-bottom: 0.1rem solid var(--clr-dark);
}

/* Skills */
.box {
  display: flex;
  min-height: 300px;
}

.box__first {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__second {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__first img,
.box__second img {
  width: 100%;
  object-fit: cover;
}

/* Footer */
.page-footer p {
  color: var(--clr-light);
  font-size: 2rem;
  background-color: var(--clr-footer);
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .icon {
    display: block;
    color: white;
    font-size: 30px;
  }
  .navigation {
    flex-direction: column;
  }

  .navigation ul {
    display: none;
    flex-direction: column;
  }

  .box {
    flex-direction: column;
  }

  .box__first,
  .box__second {
    width: 100%;
  }
}

@media (max-width: 1024px) {
}
