*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-dark: #3d3d3d;
  --clr-light: #fff;
  --clr-main: red;
}

html {
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  text-align: center;
  color: var(--clr-light);
  font-size: 1.6rem;
  line-height: 1.7;
}

section {
  padding: 10.8rem 0;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.splash {
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/background.webp");
  background-size: cover;
  background-position: centercenter;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash i {
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  background: var(--clr-main);
  border-radius: 50%;
}

.page-title {
  font-size: 6rem;
  margin: 4.8rem 0 0 0;
  position: relative;
}

.page-subtitle {
  font-size: 1.8rem;
  margin: 4.8rem 0 0 0;
  font-weight: 400;
}

.page-title::after {
  position: absolute;
  content: "";
  bottom: -2.4rem;
  left: 50%;
  width: 10rem;
  height: 1rem;
  transform: translateX(-50%);
  background: var(--clr-main);
}
